.rodapie{
    background-color: var(--color-base--azul-claro);
}

.rodapie__container{
    margin: 0 4%;
    padding: 0.5rem 0;
}

/*Molécula Navegador*/
.rodapie__menu{
    width: 100%;
}
.rodapie__lista{
    margin-bottom: 1rem;

    text-align: center;
}

.rodapie__lista--item{
    margin-bottom: 0.5rem;
}

.rodapie__lista--item-link{
    font-weight: 500;
    color: var(--color-base--negro-1);
}
/*Molécula Formulario*/
.contacto{
    margin: 2rem 0 1rem;
}
.contacto__titulo{
    font-weight: 700;
    color: var(--color-base--negro-1);
}

.contacto__nombre{
    margin-bottom: 0.5rem;
}
.contacto__nombre--label{
    font-size: 0.8rem;
    position: relative;
    left: 0.3rem;
    top: 1.1rem;
    color: var(--color-base--gris-oscuro);
}
.contacto__nombre--input{
    font-family: 'Raleway', sans-serif;
    width: 98%;
    padding: 1.5rem 0rem 0.3rem 0.3rem;
    border-style:none;
    background-color: var(--color-base--blanco);

    border-bottom: 2px solid  var(--color-base--gris-claro--2);
    
}

.contacto__nombre--input::placeholder{
    padding-left: 0rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    color: var(--color-base--gris-claro--2);
}
.contacto__nombre--input:focus{
    outline: none;
}

.contacto__mensaje{
    margin-bottom: 0.5rem;

}
.contacto__mensaje--textarea{
    width: 97%;
    padding: 0.5rem 0.3rem;
    border-style: none;
    resize: none;

    font-family: 'Raleway', sans-serif;

    border-bottom: 2px solid  var(--color-base--gris-claro--2);
}
.contacto__mensaje--textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    color: var(--color-base--gris-claro--2);
}
.contacto__mensaje--textarea:focus{
    outline: none;
}



.contacto__submit{
    font-weight: 700;
    text-decoration: none;
    color: var(--color-base--blanco);

    border: 2px solid var(--color-base--azul);
    padding: 0.5rem 4%;
    border-radius: 0px;
    background-color: var(--color-base--azul);
}
.contacto__submit:hover{
    text-decoration:underline;
}
.contacto__submit:active{
    background-color: var(--color-base--blanco);
    color: var(--color-base--azul);
}

/*Molécula Creador*/
.rodapie__creador{
    background-color: var(--color-base--blanco);
    text-align: center;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 2rem 0;
    color: var(--color-base--gris-oscuro);
}

@media  screen and (min-width:768px){
    .rodapie__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rodapie__menu{
        width: 35%;
    }

    .rodapie__lista--item{
        margin-bottom: 1.5rem;
    }
    .contacto{
        width: 60%;
    }

    
}


@media  screen and (min-width:1024px){ 
    .rodapie__container{
        margin: 0 10%;
    }
}