@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './encabezado/encabezado.css';
@import './banner/banner.css';
@import './seccion/seccion.css';
@import './rodapie/rodapie.css';
@import './login/login.css';
@import './todos-productos/todos-productos.css';
@import './producto/producto.css';


:root{
    --color-base--azul: #2A7AE4;
    --color-base--blanco: white;
    --color-base--gris-claro: #F5F5F5;
    --color-base--gris-claro--2:#C8C8C8;
    --color-base--gris-oscuro: #A2A2A2;
    --color-base--negro-1: #464646;
    
    --color-base--azul-claro: #EAF2FD;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.logo{
    height: 2.2rem;
}

@media  screen and (min-width:1024px){ 
} 
